# Import modules

In [14]:
import h3  # Uber H3 grid system
import pandas as pd  # Read csv data as data frame
from folium import Map  # Interactive mapping

# Download data from NASA website
https://firms.modaps.eosdis.nasa.gov/active_fire

In [26]:
# Get data for Canada (past 24 hours)
# url = "https://firms.modaps.eosdis.nasa.gov/data/active_fire/suomi-npp-viirs-c2/csv/SUOMI_VIIRS_C2_Canada_24h.csv"
# df = pd.read_csv(url)

# Get global data (past 24 hours)
url = "https://firms.modaps.eosdis.nasa.gov/data/active_fire/suomi-npp-viirs-c2/csv/SUOMI_VIIRS_C2_Global_24h.csv"
df = pd.read_csv(url)

In [39]:
# Take a peek at the data
print(df.shape)
df.head()

(82012, 13)

,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,confidence,version,bright_ti5,frp,daynight
0,52.53814,39.63165,323.1,0.74,0.76,2020-12-27,106,N,nominal,2.0NRT,268.9,3.2,N
1,52.53399,39.62853,323.1,0.75,0.77,2020-12-27,106,N,nominal,2.0NRT,268.1,5.8,N
2,51.13984,37.92995,320.2,0.74,0.76,2020-12-27,106,N,nominal,2.0NRT,265.3,2.6,N
3,50.92803,21.67863,304.5,0.56,0.43,2020-12-27,106,N,nominal,2.0NRT,270.4,0.9,N
4,52.17157,14.62807,335.4,0.38,0.36,2020-12-27,106,N,nominal,2.0NRT,267.8,2.8,N

In [46]:
# Subset to high confidence fires
high_conf_fires = df.loc[df['confidence'] == 'high']
print(high_conf_fires.shape)
high_conf_fires.head()

(5000, 13)

,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,confidence,version,bright_ti5,frp,daynight
67,30.40497,19.60971,367.0,0.47,0.64,2020-12-27,112,N,high,2.0NRT,284.6,9.2,N
109,28.90356,20.95120,367.0,0.61,0.71,2020-12-27,112,N,high,2.0NRT,281.8,9.7,N
115,28.90528,20.95246,367.0,0.61,0.71,2020-12-27,112,N,high,2.0NRT,283.0,31.1,N
117,29.23212,19.69755,367.0,0.51,0.66,2020-12-27,112,N,high,2.0NRT,281.4,6.1,N
128,28.91318,19.77389,367.0,0.53,0.67,2020-12-27,112,N,high,2.0NRT,284.5,22.8,N

In [23]:
Map(
    tiles="cartodbpositron",
    location=[37.0902, -95.7129],
    zoom_start=3
)