In [ ]:
# Figure out what to do about Russia error message

In [19]:
# import os
# import re
import json
import time
import requests
import xlsxwriter
from math import sqrt
from datetime import datetime as dt
from pandas import DataFrame, read_csv, MultiIndex, ExcelWriter

In [ ]:
# This block is for building and sending the API query
# Also fills missing values with 0
def build_query(iso): # Add adm1 as an optional parameter?
    q = (
        "SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) " +
        "as alert__count, confidence__cat " +
        "FROM mytable " +
        f"WHERE iso='{iso}' AND confidence__cat='h' " +
        "GROUP BY iso, adm1, alert__year, alert__week"
    )
    return q


def query_params(q):
    params = {
        'sql':q
    }
    return params


def send_request(base_url, data_id, iso): 
    q = build_query(iso)
    p = query_params(q)
    r = requests.get(base_url + '/' + data_id, params=p)
    
    if r.status_code == 200:
        return r.json()['data']

    else:
        print('Something went wrong...')
        print('Status code: ', r.status_code)
        print('Error message: ', r.json()['errors'][0]['detail'])

In [12]:
# This block is for processing data after query
# Update this to make year range dynamic (based on today)
def create_multiindex(df, names):
    countries = df.iso.unique()
    regions = df.adm1.unique()
    years = range(2012, 2022)
    weeks = range(1, 53)

    mi = MultiIndex.from_product(
        iterables=[countries, regions, years, weeks],
        names=names
    )

    return mi


def fill_missing(df):
    names = ['iso', 'adm1', 'alert__year', 'alert__week']
    mi = create_multiindex(df, names)

    filled = (
        df
            .set_index(names)
            .reindex(mi)
            .reset_index()
            .fillna(0)
    )
    
    return filled

In [13]:
# This block is for calculating significance score
# Clean these up and compartmentalize better
def get_cw_cy():
    today = dt.today().isocalendar()
    # cy = today[0]
    if today[1] == 1:
        cw == 52
        cy == today[0] - 1
    else:
        cw = today[1] - 1
        cy = today[0]

    return cw, cy


def make_lookup(df, adm1):
    df = df[df['adm1']==adm1]
    return df.pivot_table(
        index='alert__year',
        columns='alert__week',
        values='alert__count'
    ).fillna(0)


def vizzuality_sd(lookup, week, mean):
    return sqrt(sum((lookup[week] - mean)**2)/len(lookup[week]))


def significance_variables(lookup):
    # Get current week and year
    week, year = get_cw_cy()
    x = lookup[week][year]
    mu = lookup[week].mean()
    sd = vizzuality_sd(lookup, week, mu)
    return x, mu, sd


def calc_sigscore(df, adm1): # Add number of weeks here
    lookup = make_lookup(df, adm1)
    x, mu, sd = significance_variables(lookup)
    if x - mu == 0:
        significance = 0
    else:
        significance = (x - mu) / sd
    return significance, x


def sigscore_tuple(df, country, region):
    sig_score, current_alerts = calc_sigscore(df, region)
    return country, region, sig_score, current_alerts

In [40]:
# This block is to calculate significance score for each adm1 in all countries
def all_adm1_significance(iso_list, verbose=False):
    BASE_URL = 'https://api.resourcewatch.org/v1/query'
    DATA_ID = '54bb00e8-9888-494a-bcd8-9fd3760fe384'

    final_out = []
    # start = 1
    # end = len(iso_list)
    for country in iso_list:
        # if verbose == 2:
        print(country)
        # if verbose == 1:
        #     print(f'\r{(start/end) * 100:.2f}%', end='', flush=True)
        data = send_request(BASE_URL, DATA_ID, country)
        time.sleep(2)
        if data:
            df = fill_missing(DataFrame(data))
            regions = df.adm1.unique()
            out = [sigscore_tuple(df, country, region) for region in regions]
            final_out += out
        # start += 1
    
    rank_df = DataFrame(final_out, columns=['country', 'adm1', 'significance', 'current_alerts'])
    sorted = rank_df.sort_values(by=['significance'], ascending=False)

    return sorted

In [41]:
# BASE_URL = 'https://api.resourcewatch.org/v1/query'
# DATA_ID = '54bb00e8-9888-494a-bcd8-9fd3760fe384'
# q = build_query('UGA')
# p = query_params(q)
# r = requests.get(BASE_URL + '/' + DATA_ID, params=p)

In [42]:
# r.json()

In [43]:
def gadm_countries(file='gadm_adm1.csv'):
    keep_cols = ['GID_0', 'NAME_0', 'GID_1', 'NAME_1']
    gadm_df = read_csv(file, usecols=keep_cols)
    iso_list = gadm_df.GID_0.unique()
    return iso_list

In [44]:
iso_list = gadm_countries()

In [45]:
# There is a problem with Russia at the moment
# Group by query produces too many results
# Need to reduce the number of rows
# Consider more restrictive "where" clause or less "group by" criteria
start = dt.now()
print(start)
top_adm1 = all_adm1_significance(iso_list)
end = dt.now()
print(f'Total time: {start - end}')

__year, alert__week
LBN
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='LBN' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
LBR
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='LBR' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
LBY
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='LBY' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
LCA
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='LCA' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
LIE
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='LIE' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
LKA
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='LKA' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
LSO
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='LSO' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
LTU
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='LTU' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
LUX
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='LUX' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
LVA
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='LVA' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
MAC
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='MAC' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
MAR
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='MAR' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
MDA
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='MDA' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
MDG
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='MDG' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
MEX
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='MEX' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
MKD
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='MKD' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
MLI
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='MLI' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
MLT
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='MLT' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
MMR
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='MMR' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
MNE
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='MNE' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
MNG
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='MNG' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
MNP
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='MNP' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
MOZ
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='MOZ' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
MRT
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='MRT' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
MSR
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='MSR' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
MTQ
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='MTQ' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
MUS
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='MUS' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
MWI
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='MWI' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
MYS
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='MYS' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
MYT
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='MYT' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
NAM
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='NAM' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
NCL
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='NCL' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
NER
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='NER' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
NGA
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='NGA' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
NIC
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='NIC' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
NLD
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='NLD' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
NOR
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='NOR' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
NPL
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='NPL' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
NRU
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='NRU' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
NZL
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='NZL' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
OMN
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='OMN' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
PAK
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='PAK' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
PAN
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='PAN' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
PER
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='PER' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
PHL
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='PHL' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
PLW
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='PLW' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
PNG
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='PNG' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
POL
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='POL' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
PRI
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='PRI' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
PRK
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='PRK' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
PRT
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='PRT' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
PRY
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='PRY' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
PSE
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='PSE' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
PYF
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='PYF' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
QAT
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='QAT' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
REU
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='REU' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
ROU
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='ROU' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
RUS
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='RUS' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
Something went wrong...
Status code:  400
Error message:  Your are using a "group by" query that produces too many results. Please reduce the number of rows your "group by" query produces (ie. more restrictive "where" clause or use less "group by" criteria)
RWA
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='RWA' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
SAU
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='SAU' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
SDN
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='SDN' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
SEN
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='SEN' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
SGP
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='SGP' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
SHN
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='SHN' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
SJM
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='SJM' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
SLB
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='SLB' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
SLE
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='SLE' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
SLV
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='SLV' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
SMR
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='SMR' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
SOM
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='SOM' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
SPM
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='SPM' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
SRB
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='SRB' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
SSD
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='SSD' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
STP
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='STP' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
SUR
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='SUR' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
SVK
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='SVK' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
SVN
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='SVN' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
SWE
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='SWE' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
SWZ
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='SWZ' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
SYC
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='SYC' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
SYR
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='SYR' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
TCA
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='TCA' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
TCD
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='TCD' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
TGO
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='TGO' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
THA
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='THA' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
TJK
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='TJK' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
TKL
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='TKL' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
TKM
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='TKM' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
TLS
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='TLS' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
TON
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='TON' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
TTO
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='TTO' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
TUN
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='TUN' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
TUR
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='TUR' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
TUV
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='TUV' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
TWN
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='TWN' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
TZA
Query:  SELECT iso, adm1, alert__year, alert__week, SUM(alert__count) as alert__count, confidence__cat FROM mytable WHERE iso='TZA' AND confidence__cat='h' GROUP BY iso, adm1, alert__year, alert__week
Something went wrong...
Status code:  500

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [ ]:
# Merge this and the next block into function calls
top_adm1['score'] = top_adm1.significance * top_adm1.current_alerts
top_score = top_adm1.sort_values(['score'], ascending=False).head(20)
top_sig = top_adm1[top_adm1['current_alerts'] > 50].head(20)
print(top_score)
print(top_sig)
# top_adm1.head(5)

In [ ]:
today = dt.today()
filename = 'top_20_output_' + today.strftime('%Y%m%d') + '.xlsx'
# Create pandas excel writer
writer = ExcelWriter(filename, engine='xlsxwriter')
# Write each dataframe to a different worksheet
top_sig.to_excel(writer, sheet_name='top_significance')
top_score.to_excel(writer, sheet_name='top_score')
# Close the pandas excel writer
writer.save()